{% extends "core_template.html" %}
{% set active_page = '404' %}

{% block title %}Page Not Found{% endblock %}

{% block page_content %}



  <div class="not-found">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="digits">
            4<i class="fa fa-meh-o animated flipInX" id="smile"></i>4
          </div>
          <h1>Dang! Is it me or the URL you typed isn't right?</h1>
          <h2>Try search within our website instead:</h2>
          <form class="form-inline" role="form">
            <div class="form-group">
              <label class="sr-only" for="search-404"></label>
              <input type="text" class="form-control input-lg" id="search-404" placeholder="Click to make me happy">
            </div>
            <button type="submit" class="btn btn-default btn-lg" id="submit-404">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>



{% endblock page_content %}