{% extends "core_template.html" %}
{% set active_page = '500' %}


{% block title %}VIDLIX - Internal Server Error{% endblock %}

{% block page_content %}


  <div class="not-found">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="digits">
            5<i class="fa fa-meh-o animated flipInX" id="smile"></i>0
          </div>
          <h1>Snap! Internal Server Error. </h1>
          <h2>Something just broke. We'll fix it soon</h2>
          <form class="form-inline" role="form">
            <div class="form-group">
              <label class="sr-only" for="search-404"></label>
              <input type="text" class="form-control input-lg" id="search-404" placeholder="Click to make me happy">
            </div>
            <button type="submit" class="btn btn-default btn-lg" id="submit-404">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>




{% endblock page_content%}



