{% extends "bootstrap/base.html" %}
{% block html_attribs %}lang="en" charset="utf-8" {% endblock %}
{% block title %} VIDLIX Analytics - Just another data analytics playground {% endblock %}


{% import "bootstrap/fixes.html" as fixes %}
{% block head %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">
    <meta name="description" content="{% block description %} VIDLIX analytics - Playground for social media network analysis, integrated website traffic analysis, network and cybersecurity analysis and StackOverflow user behaviour metrics.. {% endblock %}">
  {{super()}}
  {{fixes.ie8()}}

{% endblock head %}




<!-- Javascript codes -->
{% block scripts %}
{{ super() }}
<script src="{{url_for('static', filename='js/imagesloaded.pkgd.min.js')}}"></script>
<script src="{{url_for('static', filename='js/isotope.pkgd.min.js')}}"></script>
<script src="{{url_for('static', filename='js/scrolltopcontrol.js')}}"></script>
<script src="{{url_for('static', filename='js/icheck.js') }}"></script>
<script src="{{url_for('static', filename='js/custom.js')}}"></script>
<script src="{{url_for('static', filename='js/isotope-custom.js')}}"></script>

<!-- Load BokehJS components -->
<script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.js"></script>


{% endblock scripts %}



{% block styles %}
{{ super() }}
<!-- Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet'>

<!-- CSS Plugins -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}" >

<!-- CSS Custom -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" >
<link rel="stylesheet" href="{{ url_for('static', filename='css/elements.css') }}" >
<link rel="stylesheet" href="{{ url_for('static', filename='css/square/red.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/authentication.css') }}">


<!-- Load BokehJS CSS -->
<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.css" type="text/css" />

{% endblock styles %}





{% block navbar %}

<!-- Navbar  -->
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('index') }}">VIDLIX Analytics</a>
        </div>
      </div>
</div>

{% endblock navbar %}



{% block content %}


<div class="wrapper">

<!-- Elastic categories -->          
<div class="addthis">

        <div class="row">
          <div class="col-md-12">

            <div class="services">
              <div class="services__item">
                <div class="services-item__body">
                  <i class="services-item__icon fa fa-comments-o fa-3x"></i>
                  <div class="services-item__content">
                      <p class="services-item__caption">Employee/Workforce data analytics</p>
                    <a class="services-item__link" href="#">In Progress</a>
                  </div>
                </div>
              </div>
              <div class="services__item">
                <div class="services-item__body">
                  <i class="services-item__icon fa fa-bar-chart fa-3x"></i>
                  <div class="services-item__content">
                    <p class="services-item__caption">Websites traffic analytics</p>
                    <a class="services-item__link" href="#">Pending</a>
                  </div>
                </div>
              </div>
              <div class="services__item">
                <div class="services-item__body">
                  <i class="services-item__icon fa fa-laptop fa-3x"></i>
                  <div class="services-item__content">
                    <p class="services-item__caption">Network security analytics </p>
                    <a class="services-item__link" href="#">Pending</a>
                  </div>
                </div>
              </div>
              <div class="services__item">
                <div class="services-item__body">
                  <i class="services-item__icon fa fa-balance-scale fa-3x"></i>
                  <div class="services-item__content">
                    <p class="services-item__caption">Inmate sentiment analytics</p>
                    <a class="services-item__link" href="#">Pending</a>
                  </div>
                </div>
              </div>
              <div class="services__item">
                <div class="services-item__body">
                  <i class="services-item__icon fa fa-users fa-3x"></i>
                  <div class="services-item__content">
                    <p class="services-item__caption">Social media network analytics</p>
                    <a class="services-item__link" href="#">Pending</a>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div> 

          </div>
        </div>

</div>



{% with messages = get_flashed_messages()  %}
{% if messages %}

<div class="section-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
              {% for message in messages %}
                    <h2 class="animated slideInLeft text-success">{{ message }}</h2>
              {% endfor %}
        </div>
      </div>
    </div>
</div>

{% endif %}
{% endwith %}







    {% block page_content %}

    {% endblock page_content %}


</div>



<!-- Legal  -->
<div class="legal">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <p class="pull-left">&copy; VIDLIX Analytics - Discovering and sharing awesome data stories.</p>
      </div>
      <div class="col-md-2 list-inline">
        <ul class="pull-right">
            <li><a href="{{ url_for('about') }}">About Author</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
    





{% endblock content %}