
{% extends "core_template.html" %}
{% block title %} VIDLIX - Discovering and sharing awesome stuffs  {% endblock %}

{% block description %}Discovering, sharing, motivating and inspiring. These are powerful stuffs that bring joy to the world. With VIDLIX you can do so much more.{% endblock %}

{% block page_content %}



      <div class="section-header">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="animated slideInLeft"><span>Featured Video</span></h1>
            </div>
          </div>
        </div>
      </div>


      <div class="container">


      </div> <!-- / .container -->





{% endblock page_content %}

