
{% extends "core_template.html" %}
{% block title %} VIDLIX Analytics - Just another data analytics playground  {% endblock %}

{% block page_content %}


    

      <div class="section-header">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="animated slideInLeft"><span>Query Selector & Visualizer</span></h1>
            </div>
          </div>
        </div>
      </div>


      

    <div class="page">
    <div class="container">
               {{ script | safe }}

                {{ div | safe }}
    </div>
    </div>
    <!-- container -->





{% endblock page_content %}

