
{% extends "core_template.html" %}
{% block title %} VIDLIX Analytics - Just another data analytics playground  {% endblock %}

{% block page_content %}



<!-- Elastic categories -->          
<div class="addthis">

        <!-- Category Navigation  -->
        <div class="row">
          <div class="col-md-12">

            <div class="services">
              <div class="services__item">
                <div class="services-item__body">
                  <i class="services-item__icon fa fa-comments-o fa-3x"></i>
                  <div class="services-item__content">
                      <p class="services-item__caption">Social media network analytics</p>
                    <a class="services-item__link" href="#">Check it out &raquo;</a>
                  </div>
                </div>
              </div>
              <div class="services__item">
                <div class="services-item__body">
                  <i class="services-item__icon fa fa-bar-chart fa-3x"></i>
                  <div class="services-item__content">
                    <p class="services-item__caption">Integrated website traffic analytics</p>
                    <a class="services-item__link" href="#">Check it out &raquo;</a>
                  </div>
                </div>
              </div>
              <div class="services__item">
                <div class="services-item__body">
                  <i class="services-item__icon fa fa-laptop fa-3x"></i>
                  <div class="services-item__content">
                    <p class="services-item__caption">Network and cyber security analytics </p>
                    <a class="services-item__link" href="#">Check it out &raquo;</a>
                  </div>
                </div>
              </div>
              <div class="services__item">
                <div class="services-item__body">
                  <i class="services-item__icon fa fa-taxi fa-3x"></i>
                  <div class="services-item__content">
                    <p class="services-item__caption">New York taxi service analytics</p>
                    <a class="services-item__link" href="#">Check it out &raquo;</a>
                  </div>
                </div>
              </div>
              <div class="services__item">
                <div class="services-item__body">
                  <i class="services-item__icon fa fa-stack-overflow fa-3x"></i>
                  <div class="services-item__content">
                    <p class="services-item__caption">StackOverflow user behaviour analytics</p>
                    <a class="services-item__link" href="#">Check it out &raquo;</a>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div> <!-- / .services -->

          </div>
        </div>

</div>


      <div class="section-header">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="animated slideInLeft"><span>Featured Video</span></h1>
            </div>
          </div>
        </div>
      </div>


      

    
    <div class="container">

    </div> 
    <!-- container -->





{% endblock page_content %}

